- on_demand_scans_path = Feature.enabled?(:dast_saved_scans, @project, default_enabled: :yaml) ? new_project_on_demand_scan_path(@project) : project_on_demand_scans_path(@project)

- if any_project_nav_tab?([:security, :dependencies, :licenses, :audit_events])
  = nav_link(path: sidebar_security_paths) do
    = link_to top_level_link(@project), data: { qa_selector: top_level_qa_selector(@project) } do
      .nav-icon-container
        = sprite_icon('shield')
      %span.nav-item-name
        = _('Security & Compliance')

    %ul.sidebar-sub-level-items
      = nav_link(path: sidebar_security_paths, html_options: { class: "fly-out-top-item" } ) do
        = link_to top_level_link(@project) do
          %strong.fly-out-top-item-name
            = _('Security & Compliance')

      %li.divider.fly-out-top-item
      - if project_nav_tab?(:security)
        = nav_link(path: 'projects/security/dashboard#index') do
          = link_to project_security_dashboard_index_path(@project), title: _('Security Dashboard'), data: { qa_selector: 'security_dashboard_link' } do
            %span= _('Security Dashboard')

        = nav_link(path: ['projects/security/vulnerability_report#index', 'projects/security/vulnerabilities#show']) do
          = link_to project_security_vulnerability_report_index_path(@project), title: _('Vulnerability Report'), data: { qa_selector: 'vulnerability_report_link' } do
            %span= _('Vulnerability Report')

      - if project_nav_tab?(:on_demand_scans)
        = nav_link(path: sidebar_on_demand_scans_paths) do
          = link_to on_demand_scans_path, title: s_('OnDemandScans|On-demand Scans'), data: { qa_selector: 'on_demand_scans_link' } do
            %span= s_('OnDemandScans|On-demand Scans')

      - if project_nav_tab?(:dependencies)
        = nav_link(path: 'projects/dependencies#index') do
          = link_to project_dependencies_path(@project), title: _('Dependency List'), data: { qa_selector: 'dependency_list_link' } do
            %span= _('Dependency List')

      - if project_nav_tab?(:licenses)
        = nav_link(path: 'projects/licenses#index') do
          = link_to project_licenses_path(@project), title: _('License Compliance'), data: { qa_selector: 'licenses_list_link' } do
            %span= _('License Compliance')

      - if project_nav_tab?(:threat_monitoring)
        = nav_link(controller: ['projects/threat_monitoring']) do
          = link_to project_threat_monitoring_path(@project), title: _('Threat Monitoring') do
            %span= _('Threat Monitoring')

      - if project_nav_tab?(:security_configuration)
        = nav_link(path: sidebar_security_configuration_paths) do
          = link_to project_security_configuration_path(@project), title: _('Configuration'), data: { qa_selector: 'security_configuration_link'} do
            %span= _('Configuration')

      - if project_nav_tab?(:audit_events)
        = nav_link(controller: :audit_events) do
          = link_to project_audit_events_path(@project), title: _('Audit Events'), data: { qa_selector: 'audit_events_settings_link' } do
            %span= _('Audit Events')

- elsif show_discover_project_security?(@project)
  = nav_link(path: project_security_discover_path(@project)) do
    = link_to project_security_discover_path(@project) do
      .nav-icon-container
        = sprite_icon('shield')
      %span.nav-item-name
        = _('Security & Compliance')
